name: Dev Release

on:
  push:
    branches:
      - dev

jobs:
  dev-release:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      id-token: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2

      - name: Update npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: bun i

      - name: Run dev release
        run: bun dev:release
